  <div class="newsletter">
      <img src="/email2.gif" style="float: left; margin: 0 12px 12px 0;"/>
      <p>If you would like to be notified about future projects, <b>sign up for our email list:</b></p>
    <form class="email-form" id="signup_form">
    <img src="/email.gif"/>
    <label for="signup_email" class="email-label">email:</label>
    <input id="signup_email" type="email"/>
    <button type="submit" id="signup_submit">SIGN UP</button>
    <p id="signup_result"></p>
    </form>
    <audio id="splat" src="/splat.mp3"></audio>
    <script>
    const form = document.querySelector('#signup_form');
    const input = document.querySelector('#signup_email');
    const submit = document.querySelector('#signup_submit');
    const result = document.querySelector('#signup_result');

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        
        const email = input.value;
        let timezone;

        try {
           timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
        } catch(err) {}

        if (!email) {
            result.innerText = 'gotta give me something to go on :/'; 
            return;
        }

        submit.disabled = true;
        input.disabled = true;

        fetch(new Request(`https://api.holybone.zone/api/subscribe?email=${email}`, {
            method: 'POST',
            mode: 'cors',
            body: JSON.stringify({
                tags: ['holy-bone'],
                timezone
            })
        })).then((res) => {
            let resultMessage = 'So sorry. Something went wrong.';
            if (res.ok) {
                resultMessage = 'Success! You have signed up';
            }

            result.innerText = resultMessage;
        }, (failure) => {
            result.innerText = 'So sorry. Something went wrong.';
        });
    });
    </script>
  </div>   
  <footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ replace . "{Year}" now.Year | markdownify }}
  {{ end }}
  </footer>
  <script>
  const soundEl = document.getElementById('splat');
  const speed = 5;
  const rotSpeed = 12;
  const padding = -50;
  const cssPadding = 8;

  let idInt = 0;
  const bugs = [];

  function randomInRange(min, max) {
      return Math.random() * (max - min) + min;
  }

  function getRandomMode(onlyRotate, hurry) {
      if (onlyRotate) {
          return Math.floor(Math.random() * 2);
      }

      return Math.floor(Math.random() * (hurry ? 6 : 4));
  }

  function getNormalizedCoords(id) {
      return {
          xMin: padding + cssPadding, // Screen 0 and body tag 0 are not the same place bc border box stuffs
          xMax: (document.body.clientWidth + padding),
          yMin: padding + cssPadding,
          yMax: (document.body.clientHeight + padding)
      }
  }

  const hatchBug = () => {
      const id = `bzz-${idInt}`;
      idInt++;

      const el = document.createElement('img');
      el.classList.add('bzz');
      el.id = id;
      el.src = '/fly.gif';
      document.body.appendChild(el);

      const index = bugs.push({
          id,
          mode: getRandomMode(), // 0 = turn left, 1 = turn right, 2-3 = walk forward
          wait: 0,
          hurry: false
      }) - 1;

      el.addEventListener('click', (e) => {
          e.preventDefault();
          bugs[index].squished = true;
          soundEl.play();
          el.parentNode.removeChild(el);
          hatchBug();
          hatchBug();
      });

      el.addEventListener('mouseenter', (e) => {
          bugs[index].hurry = true;

          el.addEventListener('mouseleave', (e) => {
              bugs[index].hurry = false;
          });
      });
  };

  function updateTransform(id, x, y, rot) {
      const el = document.getElementById(id);
      const { yMin, yMax, xMin, xMax } = getNormalizedCoords(id);
      el.style.transform = `translateX(${Math.min(Math.max(xMin, x), xMax)}px) translateY(${Math.min(Math.max(yMin, y), yMax)}px) rotate(${rot}deg)`;
  }

  function parseTransform(id) {
      const el = document.getElementById(id);
      const { yMin, yMax, xMin, xMax } = getNormalizedCoords(id);
      const [,x,y,rot] = /translateX\(([0-9.-]+)px\) translateY\(([0-9.-]+)px\) rotate\(([0-9.-]+)deg\)/.exec(el.style.transform).map(parseFloat);
      return {x,y,rot};
  }

  function crawl({ id, mode, wait, hurry, squished }) {
      const newState = { id, mode, wait, hurry, squished };

      if (squished) {
          return newState;
      }

      const el = document.getElementById(id);

      const { yMin, yMax, xMin, xMax } = getNormalizedCoords(id);

      function takeABeat() {
          if (!hurry) {
              newState.wait = randomInRange(15, 60);
          }
      }

      if (!el.style.transform) {
          // choose random starting position
          updateTransform(id, randomInRange(xMin, xMax), randomInRange(yMin, yMax), randomInRange(0, 360));
      }

      if (hurry) {
          newState.wait = 0;
      }

      if (newState.wait > 0) {
          newState.wait -= 1;
          return newState;
      }

      const {x,y,rot} = parseTransform(id);

      switch(mode) {
          case 0: {
              updateTransform(id, x, y, rot - rotSpeed);

              if (Math.random() > 0.90) {
                  newState.mode = getRandomMode(false, hurry);
                  takeABeat();
              }
              break;
          }
          case 1: {
              updateTransform(id, x, y, rot + rotSpeed);

              if (Math.random() > 0.90) {
                  newState.mode = getRandomMode(false, hurry);
                  takeABeat();
              }
              break;
          }
          case 2: 
          case 3: 
          case 4:
          case 5: {
              const newX = x + Math.cos(Math.PI/180 * rot) * -speed;
              const newY = y + Math.sin(Math.PI/180 * rot) * -speed;

              if (newX >= xMax || newX <= xMin || newY >= yMax || newY <= yMin) {
                  // hit a wall
                  // stop moving, force switch to rotate mode
                  newState.mode = getRandomMode(true, hurry);
              }

              updateTransform(id, newX, newY, rot);

              if (Math.random() > 0.95) {
                  newState.mode = getRandomMode(false, hurry);
                  takeABeat();
              }
              break;
          }
      }

      return newState;
  }

  function updateSidebarScroll() {
      const speed = 1;

      const el = document.getElementById('sidebar');
      const isHorizontal = el.classList.contains('horizontal');
      const newScroll = (isHorizontal ? el.scrollLeft : el.scrollTop) + speed;

      if (newScroll >= (isHorizontal ? el.scrollLeftMax : el.scrollTopMax)) {
          const firstImg = document.querySelector('#sidebar img');
          const placeholder = document.createElement('div');
          placeholder.style.width = `${firstImg.width}px`;
          placeholder.style.height = `${firstImg.height}px`;
          placeholder.style.marginBottom = '10px';
          el.prepend(placeholder);
          el.removeChild(firstImg);
          el.appendChild(firstImg);
      } else {
          if (isHorizontal) {
              el.scrollLeft = newScroll;
          } else {
              el.scrollTop = newScroll;
          }
      }

  }

  let timer;

  window.addEventListener('resize', () => {
      // quick n dirty debounce
      clearTimeout(timer);
      timer = setTimeout(() => {
          if (window.innerWidth > 768) {
              document.getElementById('sidebar').classList.remove('horizontal');
          } else {
              document.getElementById('sidebar').classList.add('horizontal');
          }
      }, 5);
  });

  window.addEventListener('DOMContentLoaded', () => {
      hatchBug();
      setInterval(() => {
          bugs.forEach((bug, i) => {
              const newState = crawl(bug);
              bugs[i] = newState;
          });

          updateSidebarScroll();
      }, 1000/30);

      if (window.innerWidth < 768) {
          document.getElementById('sidebar').classList.add('horizontal');
      }
  });
  </script>
  </div> <!-- /content -->
  <div id="sidebar" class="sidebar">
      <img src="/vertebrate_homologies.jpg" alt="Illustration from On The Archetype and Homologies of the Vertibrate Skeleton, by Richard Owen"/>
      <img src="/BKG590.JPG" alt="Computer Generated Image of an Island"/>
      <img src="/the_ambassadors.jpg" alt="The Ambassadors, by Hans Holbein"/>
      <img src="/spinoza.jpg" alt="Portrait of Baruch Spinoza"/>
      <img src="/baby_skull.jpg" alt="Illustration from On The Archetype and Homologies of the Vertibrate Skeleton, by Richard Owen"/>
      <img src="/CKG766.JPG" alt="Abstract art"/>
      <img src="/sacred_theory_of_the_earth.jpg" alt="Frontspiece of Thomas Burnet's Sacred Theory of the Earth"/>
  </div>
  </div>
  </div> <!-- /wrap -->
  </body>
</html>
