  <div class="newsletter">
      <p>If you would like to be notified about future projects, sign up for our email list below:</p>
    <form id="signup_form">
    <label>email:
    <input type="email" id="signup_email"/>
    </label>
    <button type="submit" id="signup_submit">SIGN UP</button>
    <p id="signup_result"></p>
    </form>
    <script>
    const form = document.querySelector('#signup_form');
    const input = document.querySelector('#signup_email');
    const submit = document.querySelector('#signup_submit');
    const result = document.querySelector('#signup_result');

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        
        const email = input.value;
        let timezone;

        try {
           timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
        } catch(err) {}

        if (!email) {
            result.innerText = 'gotta give me something to go on :/'; 
            return;
        }

        submit.disabled = true;
        input.disabled = true;

        fetch(new Request('https://tao-te-ching.azurewebsites.net/api/', {
            method: 'POST',
            mode: 'cors',
            body: JSON.stringify({
                email,
                timezone
            })
        })).then((res) => {
            let resultMessage = 'So sorry. Something went wrong.';
            if (res.ok) {
                resultMessage = 'Success! You have signed up';
            }

            result.innerText = resultMessage;
        }, (failure) => {
            result.innerText = 'So sorry. Something went wrong.';
        });
    });
    </script>
  </div>   
  </div> <!-- /wrap -->
  <footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ replace . "{Year}" now.Year | markdownify }}
  {{ end }}
  </footer>
  <script>
  const speed = 5;
  const rotSpeed = 12;
  const padding = 100;

  const el = document.createElement('img');
  el.id = 'bzz';
  el.src = '/fly.gif';
  document.body.appendChild(el);
  function getNormalizedCoords() {
      const { offsetLeft, offsetTop } = el;
      return {
          xMin: -offsetLeft + padding,
          xMax: window.innerWidth - offsetLeft + padding,
          yMin: -offsetTop + padding,
          yMax: window.innerHeight - offsetTop + padding
      }
  }
  function randomInRange(min, max) {
      return Math.random() * (max - min) + min;
  }
  function getRandomMode(onlyRotate) {
      return Math.floor(Math.random() * (onlyRotate ? 2 : 4));
  }
  let mode = getRandomMode(); // 0 = turn left, 1 = turn right, 2-3 = walk forward
  let wait = 0;

  function updateTransform(x, y, rot) {
      const { yMin, yMax, xMin, xMax } = getNormalizedCoords();
      el.style.transform = `translateX(${Math.min(Math.max(xMin, x), xMax)}px) translateY(${Math.min(Math.max(yMin, y), yMax)}px) rotate(${rot}deg)`;
  }

  function parseTransform() {
      const { yMin, yMax, xMin, xMax } = getNormalizedCoords();
      const [,x,y,rot] = /translateX\(([0-9.-]+)px\) translateY\(([0-9.-]+)px\) rotate\(([0-9.-]+)deg\)/.exec(el.style.transform).map(parseFloat);
      return {x,y,rot};
  }

  function crawl() {
      const { yMin, yMax, xMin, xMax } = getNormalizedCoords();

      function takeABeat() {
          wait = randomInRange(15, 60);
      }

      if (!el.style.transform) {
          // choose random starting position
          updateTransform(randomInRange(xMin, xMax), randomInRange(yMin, yMax), randomInRange(0, 360));
      }

      if (wait > 0) {
          wait -= 1;
          return;
      }

      const {x,y,rot} = parseTransform();

      switch(mode) {
          case 0: {
              updateTransform(x,y,rot-rotSpeed);

              if (Math.random() > 0.90) {
                  mode = getRandomMode();
                  takeABeat();
              }
              break;
          }
          case 1: {
              updateTransform(x,y,rot+rotSpeed);

              if (Math.random() > 0.90) {
                  mode = getRandomMode();
                  takeABeat();
              }
              break;
          }
          case 2: 
          case 3: {
              const newX = x + Math.cos(Math.PI/180 * rot) * -speed;
              const newY = y + Math.sin(Math.PI/180 * rot) * -speed;

              if (newX >= xMax || newX <= xMin || newY >= yMax || newY <= yMin) {
                  console.log('hit a wall, force mode switch');
                  console.log(`x:${newX} y:${newY} xMin:${xMin} xMax:${xMax} yMin:${yMin} yMax:${yMax}`);
                  // stop moving, switch to rotate mode
                  mode = getRandomMode(true);
              }

              updateTransform(newX, newY, rot);

              if (Math.random() > 0.95) {
                  mode = getRandomMode();
                  takeABeat();
              }
              break;
          }
      }
  }

  window.addEventListener('DOMContentLoaded', () => {
      setInterval(crawl, 1000/30);
  });
  </script>
  </body>
</html>
