body {
    box-sizing: border-box;
}

p {
    margin: 0 0 1em 0;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #311c00;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

body {
    background: #94903b url('/super_kamiokande_2.png') top left/contain no-repeat;
    position: relative;
}

h1 {
    font-family: Papyrus, cursive;
    margin: 0 0 12px;
}

input {
    appearance: none;
    border: 4px solid ridge;
}

button {
    appearance: none;
    border: 4px solid ridge;
    background: blue;
    color: white;
}

.wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    max-width: calc(800px + 12px + 150px);
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background: rgba(220,194,160,0.88);
    color: #311c00;
    text-shadow: 1px 1px 0 rgba(220,194,160,1);
}

.sidebar {
    width: 150px;
    flex-shrink: 0;
    max-height: 100vh;
    overflow-y: scroll;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    pointer-events: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar * {
    margin-bottom: 10px;
    flex-shrink: 0;
}

nav > ul {
    margin: 0;
    padding: 2px;
    display: block;
}

.menu {
    text-align: left;
    background: #35915d url('/CKG350.JPG');
}

.site-title {
    font-size: 32px;
    padding: 0 100px;
    vertical-align: middle;
}

.site-title:before, .site-title:after {
    display: inline-block;
    content: '';
    width: 100px;
    height: 70px;
    vertical-align: middle;
}

.site-title:before {
    background: url('/skeleton1.gif') center/contain no-repeat;
}

.site-title:after {
    background: url('/gears.gif') center/contain no-repeat;
}

header, main, .menu, footer, .newsletter {
    padding: 4px 10px;
}

main {
    flex-grow: 1;
}

.content {
}

footer {
    background: url('/CKG723.JPG');
}

.email-form {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
}

.email-form img {
    vertical-align: bottom;
}

.email-form input {
    flex-shrink: 1;
    min-width: 80px;
    margin: 0 4px;
}

.email-form button {
    min-width: 80px;
}

.email-label {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.bzz {
    width: 20px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

@media screen and (width < 768px) {
    header {
        padding: 4px 0;
        margin: 0 -4px;
    }

    .site-title {
        padding: 0;
        font-size: 22px;
        text-align: center;
    }

    .site-title:before, .site-title:after {
        width: 30px;
        height: 22px;
    }

    .email-form {
        clear: both;
    }

    .wrap {
        flex-direction: column;
    }

    .sidebar {
        margin: 12px 0 0 0;
        width: 100%;
        height: 150px;
        flex-direction: row;
    }

    .sidebar * {
        margin: 0 10px 0 0;
    }
}
